<div class="flex flex-col" [style.width]="width" [style.height]="height">
  <div class="w-full h-[8%] flex border-b border-light-gray">
    <!-- img  -->
    <div class="w-[8%] flex justify-center items-center h-full p-2">
      <img src="{{selectedUser.imgSrc}}" class="rounded-full w-11 h-11 ">
    </div>

    <!-- user name  -->
    <div class="w-[84%] h-full flex items-center text-lg truncate" title="">
      {{selectedUser.name}}
    </div>

    <!-- Options Icon  -->
    <div class="w-[8%] h-full flex justify-center items-center ">
      <div class="w-max h-max cursor-pointer rounded-full p-2 hover:bg-light-gray " >
        <asset-three-dot [width]="'20'" [height]="'20'" />
      </div>
    </div>
  </div>


  <div class="w-full h-[92%] bg-[url('/chat-bg-1.png')] bg-cover bg-center">
    <!-- Messages  -->
    <div class="h-[91%] overflow-y-scroll px-4 flex flex-col-reverse gap-3 py-2">

      @for(singleDayMessages of messages; track singleDayMessages.date) {
        @for(message of singleDayMessages.messages; track message._id) {
          <div class="flex" [class]="myUserId === message._sender ? 'justify-end' : 'justify-start'" >
            <div class="relative group flex gap-3  rounded-xl py-1.5 px-3 w-max max-w-3/5 wrap-break-word shadow-xl" [class]="myUserId === message._sender ? 'bg-primary text-white' : 'bg-white'">
              <!-- message  -->
              <p class="relative">
                {{message.content}}
              
                <!-- dummy date span  -->
                <span class="opacity-0 text-[10px]">
                  {{message.createdAt | time}}
                </span>

                <!-- original date span  -->
                <span class="absolute bottom-0 right-0 leading-none inline-flex items-end ml-2 text-[10px] text-gray-600"
                  [class]="myUserId === message._sender ? 'text-white' : 'text-dark-gray'">
                  {{message.createdAt | time}}
                </span>
              </p>

              <!-- options arrow  -->
              <asset-down-arrow class="absolute top-0.5 right-0.5 hidden cursor-pointer rounded-full group-hover:block" [fill]="myUserId === message._sender ? '#FFFFFF' : '#757575'"
              [height]="'25px'" [width]="'25px'" [class]="myUserId === message._sender ? 'bg-primary' : 'bg-white'" />
            </div>
          </div>
        }

        <div class="flex flex-col w-full items-center">
          <div class="bg-white px-1.5 py-0.5 text-xs rounded-lg w-max text-dark-gray" >{{singleDayMessages.date | relativeDate}}</div>
        </div>
      }

    </div>

    <!-- Send message Input  -->
    <div class="relative w-full h-[9%] flex justify-center items-start px-8">
      <input type="text" class="bg-white py-3 px-4 rounded-full w-full outline-none" placeholder="Type a message" [(ngModel)]="message" />
      <asset-send-message [height]="'35px'" [width]="'35px'" [class]="'align-middle p-1 rounded-full absolute right-12 top-1.5 cursor-pointer hover:bg-bg-gray'" [fill]="'#3A9DFF'" (click)="messageSend()" />
    </div>
</div>
</div>