<div class="h-[8vh] flex justify-between border-0 rounded-b-lg items-center px-4 bg-background shadow-2xl shadow-light-gray z-10">
  <!-- Logo & brand name  -->
  <div class="h-full flex items-center gap-2">
    <!-- Logo  -->
     <img src="logo.png" alt="Vibely Logo" class="h-12">

    <!-- Brand Name  -->
     <div class="text-3xl font-semibold">Vibely</div>
  </div>

  <!-- Profile  -->
  <div class="h-full flex justify-center items-center" appDropdown [options]="options" [config]="config" (selectedOption)="selectedOption($event)" >
    <img src="profile.png" alt="Profile Image" class="h-10 cursor-pointer">
  </div>
</div>