<div class="h-[92vh] flex">
  <!-- Friends Listing  -->
  <div class="w-[30%] h-full py-2 flex flex-col gap-2 border-r border-light-gray">
    <!-- search  -->
     <div class="w-full h-[5%] px-2">
       <input type="text" class="w-full h-full rounded-full px-4 py-1 border border-light-gray outline-none shadow-inner text-gray" placeholder="Search" [formControl]="searchControl" >
     </div>

     <!-- friends  -->
      <div class="w-full h-[95%] rounded-xl overflow-y-scroll" #friendsScrollableContainer>
        @for(user of users; track user.value) {
          <app-show-chat [user]="user" (chatClicked)="clickChat(user)" />
        }

        @if(isFriendLoading) {
          <app-show-chat-loader/>
        }

        <!-- Observer element to observe that user is scrolled till end or not -->
        <div #friendsElement></div>
      </div>
  </div>

  <!-- Chat window  -->
  <div class="w-[70%] h-full">
    @if(selectedUser) {
      <app-chat [messages]="messages" [myUserId]="myUserDetail?._id || ''" [selectedUser]="selectedUserData" (sendMessage)="sendMessage($event)"
      [hasMore]="hasMessageMore" [isLoading]="isMessageLoading" (loadMore)="loadMoreMessages()" (deleteMessage)="deleteMessage($event)" />
    }
  </div>
</div>