<div class="h-[92vh] flex">
  <!-- Friends Listing  -->
  <div class="w-[30%] h-full py-2 flex flex-col gap-2 border-r border-light-gray">
    <!-- search  -->
     <div class="w-full h-[5%] px-2">
       <input type="text" class="w-full h-full rounded-full px-4 py-1 border border-light-gray outline-none shadow-inner text-gray " placeholder="Search" >
     </div>

     <!-- friends  -->
      <div class="h-[95%] rounded-xl overflow-y-scroll">
        <app-show-chat />
      </div>
  </div>

  <!-- Chat window  -->
  <div class="w-[70%] h-full">
    <!-- User Info  -->
    <div class="w-full h-[8%] flex shadow-lg">
      <!-- img  -->
      <div class="w-[10%] h-full p-2 bg-green">
        <img src="https://lh3.googleusercontent.com/a/ACg8ocKUuawnhXl1UWaHhNiqWRjrtARXEOUuRtpcCN9ANPJHD3-c3pL5=s100" class="rounded-full">
      </div>

      <!-- user name  -->
      <div class="w-[82%] h-full flex items-center text-lg bg-red truncate" title="">
        Nitesh Singhal
      </div>

      <!-- Options Icon  -->
      <div class="w-[8%] h-full bg-yellow">

      </div>
    </div>

    <!-- messages  -->
    <div class="w-full h-[85%]">

    </div>
  </div>
</div>