<div class="bg-white p-1 border border-gray-300 w-[400px] h-[200px] rounded-lg overflow-y-scroll overflow-x-hidden">

  @for(request of friendRequests; track request._id) {
  <!-- Single Friend Request  -->
  <div class="flex items-center justify-between rounded-md p-2 hover:bg-gray-100" [title]="request.name">
    <div class="flex items-center gap-2 w-3/5">
      <!-- Profile Image  -->
      <img [src]="request.profilePicture || defaultProfilePicture" alt="" class="w-10 h-10 rounded-full">

      <!-- User Name  -->
      <p class="text-sm font-semibold truncate w-auto">{{request.name}}</p>
    </div>

    <div class="flex gap-2">
      <button class="bg-primary text-white text-xs px-2 py-1 rounded-md cursor-pointer">Accept</button>
      <button class="bg-red-500 text-white text-xs px-2 py-1 rounded-md cursor-pointer">Reject</button>
    </div>
  </div>
  }

</div>