<div class="bg-white p-1 border border-gray-300 w-[400px] h-[200px] rounded-lg overflow-y-scroll overflow-x-hidden"
  #friendRequestsScrollableContainer>

  @for(request of friendRequests; track request._id) {
  <!-- Single Friend Request  -->
  <div class="flex items-center justify-between rounded-md p-2 hover:bg-gray-100" [title]="request.name">
    <div class="flex items-center gap-2 w-3/5">
      <!-- Profile Image  -->
      <img [src]="request.profilePicture || defaultProfilePicture" alt="" class="w-10 h-10 rounded-full">

      <!-- User Name  -->
      <p class="text-sm font-semibold truncate w-auto">{{request.name}}</p>
    </div>

    <div class="flex gap-2">
      <button class="bg-primary text-white text-xs px-2 py-1 rounded-md cursor-pointer" (click)="updateFriendRequestStatus(request._id, 'ACCEPTED')">Accept</button>
      <button class="bg-red-500 text-white text-xs px-2 py-1 rounded-md cursor-pointer" (click)="updateFriendRequestStatus(request._id, 'REJECTED')">Reject</button>
    </div>
  </div>
  } @empty {
    @if(!loading) {
      <div class="flex items-center justify-center h-full flex-col">
        <video src="empty.mp4" autoplay muted loop class="w-32 h-32"></video>
        <p class="text-sm text-gray-500">No friend requests found</p>
      </div>
    }
  }

  @if(loading) {
  <app-friend-request-loader />
  }

  <!-- Observer element to observe that user is scrolled till end or not -->
  <div #friendRequestsElement></div>
</div>