<!-- Dropdown component  -->
<div class="rounded-lg py-1 bg-white shadow-lg min-w-[200px] h-max overflow-x-hidden" [style.width]="width">
  <!-- Search Bar  -->
   @if(isShowSearchbar) {
    <div class="mx-1 mb-1">
      <input class="w-full px-1 py-1 border border-gray-300 text-gray-700 rounded-md outline-none shadow-inner" [placeholder]="searchBarPlaceholder" [(ngModel)]="searchInput" />
    </div>
   }

  <!-- Options div  -->
   <div class="line-clamp-1 px-1 overflow-scroll" [ngStyle]="{ maxHeight: maxHeight }">
    <!-- options  -->
    @for(option of filteredOptions; track option) {
    <div class="flex items-center gap-3 cursor-pointer rounded-md px-2 py-1 hover:bg-gray-200" (click)="selectOption(option)" [ngStyle]="classForOptions" title="{{option.label}}" >

      <!-- Multiselect Checkbox  -->
       @if(isMultiSelect) {
        <input type="checkbox" class="cursor-pointer" [checked]="getIsOptionSelected(option)">
       }

      <!-- Option Prefix  -->
      @if(isOptionPrefix) {
        <img src="{{option.imgSrc}}" alt="img" [style.width]="getImageWidth(option)" [style.height]="getImageHeight(option)">
      }

      <!-- label  -->
       <div class="truncate" [ngStyle]="{ color: getOptionTextColor(option) }" >
        {{option.label}}
       </div>
    </div>
    }
   </div>

  <!-- If search is not found in options  -->
   @if(!filteredOptions.length) {
    <div class="mx-3 my-1 text-gray-400">
      {{searchNoFoundPlaceholder}}
    </div>
   }
</div>
