<div class="h-[92vh]">
  <div class="h-1/4 bg-primary flex justify-start items-center gap-8">
    <!-- profile Image  -->
    <div class="w-max h-max rounded-full overflow-hidden border-4 border-blue shadow shadow-blue ml-16">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocKUuawnhXl1UWaHhNiqWRjrtARXEOUuRtpcCN9ANPJHD3-c3pL5=s100" alt="Profile Image">
    </div>

    <!-- User Info  -->
    <div>
      <!-- Name  -->
      <div class="text-3xl font-bold">
        Nitesh Singhal
      </div>

      <!-- Gender and Country Info  -->
      <div class="flex text-lg justify-start gap-8">
        <div class="flex gap-1 items-center">
          @if(true) {
            <asset-male [fill]="'#FFFFFF'" />
          } @else if(false) {
            <asset-female [fill]="'#FFFFFF'" />
          }

          <p class="text-white" >Male</p>
        </div>

        <div>
          <p class="text-white">India</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-12 flex gap-4">
    <!-- Interests  -->
     <div class="p-4 rounded-xl shadow-xl w-[35%] flex flex-col gap-4 border border-gray-100">
      <p class="text-2xl text-primary font-semibold">Interests</p>

      <!-- chips  -->
      <app-selected-chips-component [minHeight]="'80px'" [maxHeight]="'100px'" [width]="'100%'" [chips]="chips" />
     </div>

     <!-- Current Plan  -->
      <div class="p-4 w-[65%] border border-gray-100 rounded-xl shadow-xl ">
        <p class="text-2xl text-primary font-semibold">Current Plan</p>
      </div>
  </div>
</div>