<div class="flex gap-2 items-center justify-between border-0 rounded-lg py-0.5 px-2 bg-amber-300" [style.background]="chip.bgColor | hexToRgba:0.2"
  [style.color]="textColor" [style.font-size]="textSize" >
  <!-- Label  -->
  <p [style.maxWidth]="maxWidth" class="truncate" title="{{chip.label}}" >{{chip.label}}</p>

  <!-- Cross Icon  -->
  <div class="rounded-lg cursor-pointer" (click)="clickCrossIcon()" [style.background]="crossButtonBgColor"
    (mouseenter)="isHovered = true" (mouseleave)="isHovered = false"  >
    <asset-cross [height]="crossIconSize.height" [width]="crossIconSize.width" />
  </div>
</div>